<!--
    Title: Landing Page
    Author: Professor Krasso
    Modified by: Saw Phaung
    Date: Feb 13, 2022
-->


<!DOCTYPE html>
<html lang="en">
<%- include('header'); -%>

    <body>
        <!-- Navbar -->
        <%- include('navbar'); -%>

            <main class="main-hero">

                <div class="hero-content">
                    <h1>Sewage Pump Service</h1>
                    <p>Area Septic Installation provides professional sewer and septic pump repair for residential and commercial properties in Wisconsin. We service, replace, and install any grinder pump in your home or facility.</p>
                    <div>
                        <a class="btn-contact" href="/Contact">Contact Us</a>
                    </div>
                </div>


            </main>


            <!-- Footer -->
            <%- include('footer'); -%>


                <!-- Script  -->
                <% - include('scripts'); -%>


    </body>

</html>
