<!--
    Title: Landing Page
    Author: Professor Krasso
    Modified by: Saw Phaung
    Date: Feb 13, 2022
-->


<!DOCTYPE html>
<html lang="en">
<%- include('header'); -%>

    <body>
        <!-- Navbar -->
        <%- include('navbar'); -%>

            <main class="main-hero">
                <div class="hero-content">
                    <h1>EMS</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas, dolor? Illum neque consectetur molestias sunt, nisi aspernatur esse.</p>
                    <div>
                        <a href="/list" class="btn-contact">View Employee List</a>
                    </div>
                </div>

            </main>


            <!-- Footer -->
            <%- include('footer'); -%>


                <!-- Script  -->
                <% - include('scripts'); -%>


    </body>

</html>
