<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="wrapper">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Employee Records</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/new">Data Entry Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/view">Employee Records <strong>Read Only</strong></a>
            </li>
        </ul>
    </div>
</nav>
