<!--
    Title: view-Ejs 
    Author: Professor Krasso
    Modified by: Saw Phaung
    Date: Feb 25, 2022
-->
<!DOCTYPE html>
<html lang="en">
<%- include('header'); -%>

    <body>
        <!-- Navbar -->
        <%- include('navbar'); -%>

            <main class="secondary">

                <section class="inner-wrap">
                    <h1>
                        <%= message %>
                    </h1>

                </section>
            </main>



            <!-- Footer -->
            <%- include('footer'); -%>


                <!-- Script  -->
                <% - include('scripts'); -%>


    </body>

</html>
